GEMINI_API_KEY="기존_발급받으신_제미나이_키"
EMAIL_SENDER="보내는사람이메일"
EMAIL_PASSWORD="보내는메일의비밀번호"
EMAIL_RECEIVER="받는사람이메일@example.com"
SMTP_SERVER="smtp.naver.com" // 네이버에서 메일을 보내시면 그대로 두고, 구글을 사용하시면 삭제해주세요.
SMTP_PORT=587
